<body>
<style>
	
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #2b2d42;
}

h6 {
	font-size: 12px;
}

h5 {
	font-size: 14px;
}

label {
	font-size: 12px;
}

.site-header { 
	border-bottom: 1px solid rgb(227, 227, 227);
	padding: .4em 6em;
}

.site-header::after {
	content: "";
	display: table;
	clear: both;
}

.site-identity h6 {			
	font-size: 14px;
}

.site-identity img {
	max-width: 180px;
	float: left;
	padding-right: 5px;
	margin-left: auto;
}

.text_header{
	line-height: 10px;
	float:right; 
	border-left: 1px solid rgb(227, 227, 227);
}

.text_header h6{
	font-size: 10px;
	margin: 0 0 0 5px;
	display: inline-block;
}

.text_header label{
	font-size: 10px;
	margin: 5px 0 0 5px;
	display: inline-block;
}

.doc-titulo {
	margin-bottom: 15px;
}

.doc-titulo h5 {
	font-weight: bold;
	border-bottom: 1px solid rgb(227, 227, 227);
	margin-bottom: 5px;
	margin-top: 15px;
}

table {
	width: 100%;
	margin-bottom: 1rem;
	color: #333;
	border-collapse: collapse;
}

table th,
table td {
	padding: 0.75rem;
	vertical-align: top;
	border: 1px solid #dee2e6;
}

table th {
	text-align: center;
	background-color: #f8f9fa;
	font-size: 10px;
}

table td {
	text-align: center;
	font-size: 10px;
}

.descripcion-encabezado {
	column-count: 2;
	column-gap: 10px;
}

.descripcion-encabezado .item {
	break-inside: avoid-column; /* Evita que los elementos se dividan en columnas */
	margin-bottom: 2px; /* Espacio entre elementos */
}

.descripcion-encabezado .contenido {
	display: flex; /* Utiliza flexbox para alinear los elementos */
}

.descripcion-encabezado h6,
.descripcion-encabezado label {
	margin: 5px; /* Elimina los márgenes predeterminados */
	padding: 0; /* Elimina el relleno predeterminado */
	flex: 1; /* Permite que los elementos ocupen el espacio disponible */
}

.imgti h6{
	font-size: 10px;
	font-weight: bold;
	display: inline;
}

</style>
<section>
	<div class="card-block">
		<div class="site-header">
			<div class="site-identity">
				<img src="{{img}}" alt="Imagen" >
			</div>
			<div class="text_header">
				<h6>PROTOCOLO Nº:{{IDT}} / {{TR_PROT_DESC_TAREATIPO}}</h6><br>
				<h6>TAG:</h6><label>{{TR_EQUIPO_COD}}</label><br>
				<h6>ESPECIALIDAD:</h6><label>{{TR_GERENCIA}}</label><br>
				<h6>SALA:</h6><label>{{TR_SECTOR}}</label><br>
				<h6>ESTADO:</h6><label>{{TR_ESTADO}}</label>
			</div>
		</div>
		<div class="card-body">
			{{#group prot by="TR_PROT_DESC_CAPI"}}
				{{#ifEquals (trimString value) "01. ENCABEZADO"}}
					<div class="doc-titulo" >
						<h5>{{value}}</h5>
					</div>
					<br>               
					<div class="descripcion-encabezado">
						{{#each items as |item|}}
							<div class="item">
								<div class="contenido">
									<h6>{{ TR_PROT_CAPTURA}} :</h6>
									<label>{{TR_RESPUESTA}}</label>
								</div>
							</div>
						{{/each}}
					</div>
					<br>                        
				{{/ifEquals}}
				{{#ifEquals (trimString value) "02. PAUTA VERIFICACIÓN"}}
					<div class="doc-titulo" >
						<h5>{{value}}</h5>
					</div>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<td colspan="7"><center>INFORMACIÓN DE BATERÍAS</center></td>
									</tr>
									<tr>
										<th><center>MARCA</center></th>
										<th><center>MODELO</center></th>
										<th><center>CAPACIDAD V</center></th>
										<th><center>CAPACIDAD Ah</center></th>
										<th><center>IMPEDANCIA Dsh</center></th>
									</tr>
								</thead>
								<tbody>
									<tr>
									{{#each items as |item|}}
										{{#if @first}}
											<td>{{item.bat_marca}}</td>
											<td>{{item.bat_modelo}}</td>
											<td>{{item.bat_capacidad_V}} V</td>
											<td>{{item.bat_capacidad_Ah}} Ah</td>
											<td>{{item.bat_impedancia_Dsh}} &Omega;</td>
										{{/if}}
									{{/each}}		
									</tr>
								</tbody>
							</table>
							<br>
							<table class="table">
								<thead>
									<tr>
										<td colspan="4"><center>DETALLE DE BATERÍAS</center></td>
									</tr>
									<tr>
										<th><center>BATERIA</center></th>
										<th><center>MEDICIÓN</center></th>
										<th hidden="true"><center>NOMINAL</center></th>
										<th><center>DESVIACIÓN</center></th>
										<th><center>ESTADO</center></th>
									</tr>
								</thead>
								{{#each items as |item|}}
								<tbody>
									<tr>
										<td>{{TR_PROT_CAPTURA}}</td>
										<td class="respuesta">{{TR_RESPUESTA}} &Omega;</td>
										<td class="nominal" data-medicion="{{TR_RESPUESTA}}" data-good="{{bat_toleranciaG}}" data-fail="{{bat_toleranciaF}}" hidden="true">{{bat_impedancia_Dsh}} &Omega;</td>
										<td>%</td>
										<td></td>
									</tr>
								</tbody>
								{{/each}}
							</table>
						</div>
					</div>
				{{/ifEquals}}
				{{#ifEquals (trimString value) "03. REQUERIMIENTO DE COMPRA O RESERVA"}}
					<div class="doc-titulo" >
						<h5>{{value}}</h5>
					</div>
					<br>               
					<div class="descripcion-encabezado">
						{{#each items as |item|}}
							<div class="item">
								<div class="contenido">
									<h6>{{ TR_PROT_CAPTURA}} :</h6>
									<label>{{TR_RESPUESTA}}</label>
								</div>
							</div>
						{{/each}}
					</div>
					<br>  
				{{/ifEquals}}
				{{#ifEquals (trimString value) "04. ESTADO"}}
					<div class="doc-titulo" >
						<h5>{{value}}</h5>
					</div>
					<br>               
					<div class="descripcion-encabezado">
						{{#each items as |item|}}
							<div class="item">
								<div class="contenido">
									<h6>{{ TR_PROT_CAPTURA}} :</h6>
									<label>{{TR_RESPUESTA}}</label>
								</div>
							</div>
						{{/each}}
					</div>
					<br>  
				{{/ifEquals}}
			{{/group}}	
			{{#each imagenes }}
			<br>
			<div class="imgti">
				<h6>Adjunto {{incitement @index}}</h6>
			</div>
			<div>
				<img src="{{this}}" alt="imagenes" width="250" height="250">
			</div>
			{{/each }}
		</div>
	</div>
</section>
<script>
	document.querySelectorAll('.nominal').forEach(function(element) {
		var nominal = parseFloat(element.textContent);
		var respuesta = parseFloat(element.getAttribute('data-medicion'));
		var good = parseFloat(element.getAttribute('data-good'));
		var fail = parseFloat(element.getAttribute('data-fail'));
		var valor = ((nominal - respuesta) / nominal) * 100;
		var valorAbsoluto = Math.round(Math.abs(valor));
		var estadoElement = element.nextElementSibling;
		var segundoSiguienteElemento = estadoElement.nextElementSibling;
		estadoElement.textContent = valorAbsoluto + " %";

		if (valorAbsoluto < good) {
			segundoSiguienteElemento.textContent = 'GOOD';
			segundoSiguienteElemento.style.color = '#23ec23';
		} else if (valorAbsoluto >= good && valorAbsoluto < fail) {
			segundoSiguienteElemento.textContent = 'WARNING';
			segundoSiguienteElemento.style.color = '#ffb005';
		} else {
			segundoSiguienteElemento.textContent = 'FAIL';
			segundoSiguienteElemento.style.color = 'red';
		}
	});
</script>
</body>
