<body class="with-side-menu">
	{{> navbar }}
	<div class="mobile-menu-left-overlay-"></div>
	{{> nav }}
	<div class="page-content">
		<div class="container-fluid">
			<header class="section-header">
				<div class="tbl">
					<div class="tbl-row">
						<div class="tbl-cell">
							<h3>Protocolo Nº {{IDT}}</h3>
							<ol class="breadcrumb breadcrumb-simple">
								<li><a href="/home">Inicio</a></li>
								<li class="active">Detalle de Protocolo</li>
							</ol>
						</div>
						<div class="form-group float-right">
                            <button type="button" class="btn btn-danger" onclick="window.close()" >Volver</button>
                        </div>
					</div>
				</div>
			</header>
			<style>
				table {
					width: 100%;
					border-collapse: collapse;
				}

				th, td {
					border: 1px solid black;
					padding: 10px;
				}

				th {
					background-color: #f2f2f2;
				}
				.logo{
					width: 200px;
					height: 100px;
				}
			</style>
			<div class="box-typical box-typical-padding">
				<div class="form-group">
					<a href="/pdf/{{IDT}}/{{TR_EQUIPO_COD}}/{{OT}}"><button type="button" class="btn btn-warning float-right" id="pdf" name="pdf"><i class="fa fa-file-pdf-o"></i></button></a>
				</div>
				<br><br>	
				<section class="card box-typical" id="tabla_prot11">
					<div class="card-block">
						<div class="card-header">
							<div class="col-md-4">
								<img src="/img/imagen1.png" class="img-fluid" >
							</div>
							<div class="col-md-8 b-l">
								<label><h5><strong>PROTOCOLO Nº: {{IDT}} / {{TR_PROT_DESC_TAREATIPO}}</strong></h5></label>
								<label><h6><strong>TAG: </strong>{{TR_EQUIPO_COD}}</h6></label>
								<label><h6><strong>ESPECIALIDAD: </strong>{{TR_GERENCIA}}</h6></label>
								<label><h6><strong>SALA: </strong>{{TR_SECTOR}}</h6></label>
								<label><h6><strong>ESTADO: </strong>{{TR_ESTADO}}</h6></label>
							</div>
						</div>
						<div class="card-body">
							{{#group prot by="TR_PROT_DESC_CAPI"}}
								{{#ifEquals (trimString value) "01. ENCABEZADO"}}
									<div class="col-md-12 m-t-3 b-b" >
										<h5 class="card-title"><strong>{{value}}</h5>
									</div>
									{{#each items as |item|}}
										<div class="col-md-4 m-t-2">
											<label><strong>{{ TR_PROT_CAPTURA}}</strong> : {{TR_RESPUESTA}}</label>
											<br>
										</div>
									{{/each}}
								{{/ifEquals}}
								{{#ifEquals (trimString value) "02. PAUTA VERIFICACIÓN"}}
									<div class="col-md-12 m-t-3 b-b">
										<h5 class="card-title"><strong>{{value}}</strong></h5>
									</div>
									<div class="col-md-12">
										<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover text-center m-t-2">
												<thead>
													<tr>
														<td colspan="7"><center>INFORMACIÓN DE BATERÍAS</center></td>
													</tr>
													<tr>
														<th><center>MARCA</center></th>
														<th><center>MODELO</center></th>
														<th><center>CAPACIDAD V</center></th>
														<th><center>CAPACIDAD Ah</center></th>
														<th><center>IMPEDANCIA Dsh</center></th>
													</tr>
												</thead>
												<tbody>
													<tr>
													{{#each items as |item|}}
														{{#if @first}}
															<td>{{item.bat_marca}}</td>
															<td>{{item.bat_modelo}}</td>
															<td>{{item.bat_capacidad_V}} V</td>
															<td>{{item.bat_capacidad_Ah}} Ah</td>
															<td>{{item.bat_impedancia_Dsh}} &Omega;</td>
														{{/if}}
													{{/each}}		
													</tr>
												</tbody>
											</table>

											<table class="table table-striped table-bordered table-hover m-t-2 text-center">
												<thead>
													<tr>
														<td colspan="4"><center>DETALLE DE BATERÍAS</center></td>
													</tr>
													<tr>
														<th><center>BATERIA</center></th>
														<th><center>MEDICIÓN</center></th>
														<th hidden="true"><center>NOMINAL</center></th>
														<th><center>DESVIACIÓN</center></th>
														<th><center>ESTADO</center></th>
													</tr>
												</thead>
												{{#each items as |item|}}
												<tbody>
													<tr>
														<td>{{TR_PROT_CAPTURA}}</td>
														<td class="respuesta">{{TR_RESPUESTA}} &Omega;</td>
														<td class="nominal" data-medicion="{{TR_RESPUESTA}}" data-good="{{bat_toleranciaG}}" data-fail="{{bat_toleranciaF}}" hidden="true">{{bat_impedancia_Dsh}} &Omega;</td>
														<td>%</td>
														<td></td>
													</tr>
												</tbody>
												{{/each}}
											</table>
										</div>
									</div>
								{{/ifEquals}}
								{{#ifEquals (trimString value) "03. REQUERIMIENTO DE COMPRA O RESERVA"}}
									<div class="col-md-12 m-t-3 b-b" >
										<h5 class="card-title"><strong>{{value}}</h5>
									</div>
									{{#each items as |item|}}
										<div class="col-md-4 m-t-2">
											<label><strong>{{ TR_PROT_CAPTURA}}</strong> : {{TR_RESPUESTA}}</label>
											<br>
										</div>
									{{/each}}
								{{/ifEquals}}
								{{#ifEquals (trimString value) "04. ESTADO"}}
									<div class="col-md-12 m-t-3 b-b" >
										<h5 class="card-title"><strong>{{value}}</h5>
									</div>
									{{#each items as |item|}}
										<div class="col-md-4 m-t-2">
											<label><strong>{{ TR_PROT_CAPTURA}}</strong> : {{TR_RESPUESTA}}</label>
											<br>
										</div>
									{{/each}}
								{{/ifEquals}}
							{{/group}}
							<div class="container col-md-12 m-t-2">
								{{#each imagenes }}
									<div class="col-md-4 m-t-2">
										<div class="imgti">
											<h6>Adjunto {{incitement @index}}</h6>
										</div>
										<div class="image-wrapper">
											<img src="{{this}}" class="img-fluid" alt="Responsive image" width="300" height="300">
											<a href="{{this}}" target="blank">Ver Imagen {{incitement @index}}</a>
										</div>
									</div>
								{{/each }}
							</div>	
						</div>
					</div>
				</section>
			</div>
	    </div>
	</div>
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/tether/tether.min.js"></script>
	<script src="/js/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/lib/datatables-net/datatables.min.js"></script>
	<script src="/js/lib/bootstrap-sweetalert/sweetalert.min.js"></script>
	<script src="/js/lib/summernote/summernote.min.js"></script>
	<script src="/js/lib/fancybox/jquery.fancybox.pack.js"></script> 
	<script src="/js/summernote-ES.js"></script>
	<script src="/js/lib/select2/select2.full.min.js"></script>
	<script>
		document.querySelectorAll('.nominal').forEach(function(element) {
			var nominal = parseFloat(element.textContent);
			var respuesta = parseFloat(element.getAttribute('data-medicion'));
			var good = parseFloat(element.getAttribute('data-good'));
			var fail = parseFloat(element.getAttribute('data-fail'));
			var valor = ((nominal - respuesta) / nominal) * 100;
			var valorAbsoluto = Math.round(Math.abs(valor));
			var estadoElement = element.nextElementSibling;
			var segundoSiguienteElemento = estadoElement.nextElementSibling;
			estadoElement.textContent = valorAbsoluto+" %";

			if (valorAbsoluto < good) {
				segundoSiguienteElemento.textContent = 'GOOD';
				segundoSiguienteElemento.style.color = '#23ec23';
			} else if (valorAbsoluto >= good && valorAbsoluto < fail) {
				segundoSiguienteElemento.textContent = 'WARNING';
				segundoSiguienteElemento.style.color = '#ffb005';
			} else {
				segundoSiguienteElemento.textContent = 'FAIL';
				segundoSiguienteElemento.style.color = 'red';
			}
		});

	</script>
</body>

